.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --header-height: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.AppCanvas {
  text-align: left;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: var(--header-height) auto var(--header-height);
  width: 100%;
  height: 100%;
}

.Sidebar {
  width: '200px';
  grid-column: 1;
  grid-row: 1 / 3;
}

.Workspace {
  width: '100%';
  height: '100%';
  grid-column: 2;
  grid-row: 2;
}

.StatusBar {
  width: '200px';
  grid-column: 1;
  grid-row: 2;
}

.CommandBar {
  width: '100%';
  height: var(--header-height);
  grid-column: 2;
  grid-row: 1;
}

.FolderItem {
  direction: rtl
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}