.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --header-height: 40px;
  --sidebar-width: 200px;
  --zoom-list-height: 200px;
  --sidebar-itemfont-size: 12px;
  --sidebar-areafont-size: 15em;
  --photo-selectedcolor: #b6ecfa;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.AppFrame {
  text-align: left;
  display: grid;
  grid-template-columns: var(--sidebar-width) auto;
  grid-template-rows: var(--header-height) auto var(--header-height);
  width: 100%;
  height: 100%;
}

.Sidebar {
  grid-column: 1;
  grid-row: 2 / 3;
  z-index: 4;
}

.PhotoInfo {
  font-size: var(--sidebar-itemfont-size);
  margin-left: 10px;
}

.Workarea {
  width: '100%';
  height: '100%';
  grid-column: 2;
  grid-row: 2;
  z-index: 1;
}

.StatusBar {
  width: '100%';
  height: var(--header-height);
  grid-column: 2;
  grid-row: 3;
  z-index: 2;
}

.CommandBar {
  width: '100%';
  height: var(--header-height);
  grid-column: 2;
  grid-row: 1;
  z-index: 3;
}

.FolderItem {
  font-size: var(--sidebar-itemfont-size);
  text-wrap: nowrap;
}

.CollectionItem {
  font-size: var(--sidebar-itemfont-size);
  text-wrap: nowrap;
  direction: rtl
}

.StatusBarIcon {
  fill: rgb(244, 247, 244);
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(24deg) brightness(105%) contrast(99%);
}

.PhotoRow {
  display: block;
  flex-wrap: wrap;
  flex-direction: row
}

.PhotoDupCounter {
  position: absolute;
  right: 10px;
  top: 3px;
}

.HeaderRow {
  font-size: larger;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  height: 24px;
}

.HeaderRow-Check {
  fill: rgb(244, 247, 244);
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(24deg) brightness(105%) contrast(99%);
  margin-left: auto;
  z-index: 1;
}

.AlbumZoomView {
  display: grid;
  grid-template-rows: auto var(--zoom-list-height);
}

.AlbumZoomView-Container {
  display: block;
}

.AlbumZoomView-Photo {
  grid-row: 1;
}

.AlbumZoomView-List {
  grid-row: 2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}